<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <p class="blog-title"> Tech Innovations and Ideas ❤️</p>
      </h1>
    
    <nav>
    {{#if loggedIn}}
    <a href="/" class="homepage">Homepage</a>
    <a href="/dashboard">Dashboard</a>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/" class="homepage">Homepage</a>
    <a href="/login">Login</a>
    {{/if}}
    </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>

    {{#if loggedIn}}
    <script src="/public/js/logout.js"></script>
    {{/if}}

</body>

</html>